.Home_Product{padding: 25px 0px;}

.Ul-Items li{margin-left: 10px;}
.Home_Product .Ul-Items li a {text-decoration: none;font-size: 16px;font-weight:500;color: #000;}
.Ul-Items li:hover a , .Ul-Items li a.act{color: #3bb77e;}

.Home_Product .ProductRow{display: flex;padding: 30px 20px;gap:18px;margin-top: 10px;flex-wrap: wrap;}
.Home_Product .ProductRow .ProductItem{width: 19%;}

.bannerDiv{margin-top: 10px;}
.banner4{border-radius: 15px;}
.Home_Product_Row2 .prodSlider .slick-slide{padding-right:15px !important;}
.Home_Product_Row2 .prodSlider .slick-arrow{zoom: 80%;}
.Home_Product_Row2 .prodSlider .slick-arrow.slick-next{top: 40%!important;}
.Home_Product_Row2 .prodSlider .slick-arrow.slick-prev{top: 40%!important;left: 1% !important;}

.prodSlider{margin-top: 30px;}
.prodSliderItems{box-shadow: none!important;}

.topProductsSection{padding: 15px 20px;}

.newsLetterSection{width: 100%;height: auto;padding: 10px;}
.newsLetterSection .box{border-radius:15px;background: url(../../assets/images/bg.png);width: 100%;height: 400px;padding: 40px;}
.box .img_news{width: 40%;}
.box .info_news{width: 60%;padding: 25px;}
.info_news_heading{font-size: 50px;font-weight: 700;}
.info_news_para{font-size: 20px;font-weight: 400;opacity: 0.4;}
.info_news_para span{font-weight: 500 !important;font-size: 21px !important;color: #196441 !important;}


.tth{
    overflow-x: scroll;
}

@media only screen and (min-width:425px) and (max-width:768px){
    .tt{
        min-width: 380px;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px){
    .tt{
        min-width: 322px;
    }
}