.BannerSection{padding: 25px 0px;overflow-x: scroll;}
.BannerSection .box{overflow: hidden;}
.col{min-width: 320px;padding: 10px;}
.BannerSection .box:hover img{transform: scale(1.1);}
.BannerSection{
    padding-bottom: 10px !important;
}
.BannerSection::-webkit-scrollbar {
    display: none;
  }